<div id="chatContainer">
  <div *ngFor="let conversation of openChats"
    class="chat-box"
    id="{{ conversation._id }}ChatBox"
    (click)="activateChat(conversation)">
    <div class="chat-control new-message"
      id="{{ conversation._id }}ChatControl">
      <h5 class="chat-name">{{ conversation.name }}</h5>

      <div class="control-btn-container">
        <button type="button"
          class="btn chat-control-btn"
          aria-label="Close"
          title="Close"
          (click)="onClose(conversation)">
          <i class="fas fa-times"></i>
        </button>
  
        <button *ngIf="conversation.minimize; else maximizeContent"
          type="button"
          class="btn chat-control-btn"
          aria-label="Minimize"
          title="Minimize"
          (click)="onResize(conversation)">
          <i class="far fa-window-minimize"></i>
        </button>
  
        <ng-template #maximizeContent>
          <button type="button"
            class="btn chat-control-btn"
            aria-label="Maximize"
            title="Maximize"
            (click)="onResize(conversation)">
            <i class="far fa-window-maximize"></i>
          </button>
        </ng-template>
      </div>
    </div>

    <div class="minimize-content"
      id="{{ conversation._id }}MinimizeContent">
      <div class="chat-display" id="{{ conversation._id }}ChatDisplay" appChatMonitor>
        <div *ngFor="let message of conversation.messages">
          <span *ngIf="message.personal === true; else response" class="chat-message personal">
            {{ message.message }}
          </span>

          <ng-template #response>
            <span *ngIf="message.personal === false; else msgError" class="chat-message response">
              {{ message.message }}
            </span>
          </ng-template>

          <ng-template #msgError>
            <div class="msg-error-container">
              <span class="msg-error">{{ message.message }}</span>
            </div>
          </ng-template>
        </div>

        <div class="buffer"></div>
      </div>
  
      <div class="chat-text-area" id="{{ conversation._id }}TextArea">
        <form #chatMessageForm="ngForm"
          class="chat-msg-form"
          (ngSubmit)="onSendMessage(conversation, chatMessageForm)">
          <div class="form-group text-field">
            <textarea class="form-control chat-text-field"
              id="{{ conversation._id }}Chat"
              name="message"
              (keyup.enter)="onSendMessage(conversation, chatMessageForm)"
              ngModel>
            </textarea>
          </div>

          <div class="send-msg-container">
            <button type="submit"
              class="btn btn-secondary send-msg"><i class="far fa-paper-plane"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
