<div id="chatContainer">
  <div *ngFor="let conversation of openChats"
    class="chat-box">
    <div class="chat-control">
      <button type="button"
        class="btn-close btn-close-white chat-close-btn"
        aria-label="Close"></button>

      <button type="button"
        class="btn chat-minimize-btn"
        aria-labelledby="Minimize">
        <i class="far fa-window-minimize"></i>
      </button>
    </div>

    <div class="minimize-content">
      <div class="chat-display">
        <div *ngFor="let message of conversation.messages">
          <span *ngIf="message.personal; else response" class="chat-message personal">
            {{ message.message }}
          </span>

          <ng-template #response>
            <span class="chat-message response">
              <!-- {{conversation.messages|json}}
              {{ message.message | json }} -->
              {{message.message.message}}
            </span>
          </ng-template>
        </div>
      </div>
  
      <div class="chat-text-area">
        <form #chatMessageForm="ngForm"
          class="chat-msg-form"
          (ngSubmit)="onSendMessage(conversation, chatMessageForm)">
          <div class="form-group text-field">
            <textarea class="form-control chat-text-field"
              id="{{ conversation._id }}Chat"
              name="message"
              ngModel>
            </textarea>
          </div>

          <div class="send-msg-container">
            <button type="submit"
              class="btn btn-secondary send-msg"><i class="far fa-paper-plane"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
