#chatContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100vw;
}

.chat-box {
  width: 225px;
  margin: 0 10px;
  background-color:var(--color-chat-background);
  align-self: flex-end;
}

.chat-box:first-child {
  margin-right: 20px;
}

.chat-box:last-child {
  margin-left: 0;
}

/* =================== */
/* || Chat Controls || */
/* =================== */

.chat-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-window-control);
}

.new-message {
  animation: new-message 1s linear infinite alternate;
}

@keyframes new-message {
  0% { background-color: var(--color-window-control) }
  100% { background-color: var(--color-chat-secondary) }
}

.chat-name {
  text-transform: capitalize;
  margin: 0 0 0 10px;
}

.control-btn-container {
  display: flex;
  flex-direction: row-reverse;
}

.chat-control-btn {
  border: 0;
  color: var(--color-text-light);
}

/* ================== */
/* || Chat Display || */
/* ================== */

.chat-display {
  height: 190px;
  padding: 5px;
  overflow: auto;
}

.chat-message {
  display: block;
  margin: 5px;
  padding: 5px;
  white-space: pre-wrap;
  color: var(--color-text-light);
}

.personal {
  margin-left: 25px;
  border-radius: 5px 5px 0 5px;
  background-color: var(--color-chat-primary);
}

.response {
  margin-right: 25px;
  border-radius: 5px 5px 5px 0;
  background-color: var(--color-chat-secondary);
}

.msg-error-container {
  text-align: center;
}

.msg-error {
  color: hsl(0, 0%, 30%);
}

#buffer {
  height: 10px;
}

.chat-box ::-webkit-scrollbar {
  width: 10px;
}

/* ===================== */
/* || Text Input Form || */
/* ===================== */

.chat-msg-form {
  display: flex;
}

.send-msg, .chat-text-field {
  height: 70px;
  border-radius: 0;
}

.text-field {
  margin: 0;
}

.chat-text-field {
  width: 183px;
  resize: none;
}
