<div id="chatContainer">
  <div *ngFor="let conversation of openChats"
    class="chat-box">
    <div class="chat-control">
      <button type="button"
        class="btn chat-control-btn"
        aria-label="Close">
        <i class="fas fa-times"></i>
      </button>

      <button *ngIf="conversation.minimize; else maximizeContent"
        type="button"
        class="btn chat-control-btn"
        aria-label="Minimize"
        (click)="resize(conversation)">
        <i class="far fa-window-minimize"></i>
      </button>

      <ng-template #maximizeContent>
        <button type="button"
          class="btn chat-control-btn"
          aria-label="Maximize"
          (click)="resize(conversation)">
          <i class="far fa-window-maximize"></i>
        </button>
      </ng-template>
    </div>

    <div class="minimize-content"
      id="{{ conversation._id }}MinimizeContent">
      <div class="chat-display"
        id="{{ conversation._id }}ChatDisplay">
        <div *ngFor="let message of conversation.messages">
          <span *ngIf="message.personal; else response" class="chat-message personal">
            {{ message.message }}
          </span>

          <ng-template #response>
            <span class="chat-message response">
              {{ message.message }}
            </span>
          </ng-template>
        </div>

        <div id="buffer"></div>
      </div>
  
      <div class="chat-text-area">
        <form #chatMessageForm="ngForm"
          class="chat-msg-form"
          (ngSubmit)="onSendMessage(conversation, chatMessageForm)">
          <div class="form-group text-field">
            <textarea class="form-control chat-text-field"
              id="{{ conversation._id }}Chat"
              name="message"
              ngModel>
            </textarea>
          </div>

          <div class="send-msg-container">
            <button type="submit"
              class="btn btn-secondary send-msg"><i class="far fa-paper-plane"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
