<app-nav></app-nav>

<div class="container nav-offset">
  <div class="row">
    <div class="col">
      <div *ngFor="let user of userList">
        <div class="row user-card">
          <div class="col">
            <div class="row">
              <h4 class="user-title">{{ user.name }}</h4>

              <h6 class="user-title">{{ user.accountType }}</h6>
            </div>
  
            <div class="row user-btn-container">
              <button type="button"
                class="btn btn-secondary card-btn"><i class="far fa-comment-alt"></i>&nbsp;Start Chat</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col">
      <div *ngFor="let doctor of doctorList">
        <div class="row user-card">
          <div class="col">
            <div class="row">
              <h4 class="user-title">{{ doctor.name }}</h4>
              
              <h6 class="user-title">{{ doctor.accountType }}</h6>
              
              <h6 *ngIf="doctor.status === 'available'; else unavailable" class="user-title available">{{ doctor.status }}</h6>

              <ng-template #unavailable>
                <h6 class="user-title busy">{{ doctor.status }}</h6>
              </ng-template>
            </div>

            <div class="row link-container">
              <button *ngIf="doctor._id === userData._id; else copyButton"
                type="button"
                class="btn btn-secondary action-btn"
                data-bs-toggle="modal"
                data-bs-target="#editCallLink"
                (click)="storeTarget(doctor)">
                <i class="far fa-edit"></i>
              </button>

              <ng-template #copyButton>
                <button type="button"
                  class="btn btn-secondary action-btn"
                  (click)="onCopyLink(doctor.videoCall)">
                  <i class="far fa-copy"></i>
                </button>
              </ng-template>

              <p class="video-link">{{ doctor.videoCall }}</p>
            </div>

            <div *ngIf="doctor._id === userData._id; else guestView" class="row btn-container">
              <button type="button"
                class="btn btn-secondary card-btn"
                (click)="onChangeStatus('available')">Available</button>

              <button type="button"
                class="btn btn-secondary card-btn"
                (click)="onChangeStatus('busy')">Busy</button>

              <button type="button"
                class="btn btn-secondary card-btn"><i class="far fa-comment-alt"></i>&nbsp;Chat</button>
              </div>
              
            <ng-template #guestView>
              <div class="row user-btn-container">
                <button type="button"
                  class="btn btn-secondary card-btn"
                  (click)="startChat(doctor)"><i class="far fa-comment-alt"></i>&nbsp;Chat</button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-chat></app-chat>

<div class="modal fade"
  id="editCallLink"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-card">
      <div class="modal-body">
        <div class="custom-modal-header">
          <h5 class="modal-title">Eidt Call Link</h5>
  
          <button type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>

        <form #changeCallLink="ngForm"
          class="create-form modal-form"
          (ngSubmit)="onChangeCallLink(changeCallLink)">
          <div class="form-group text-field">
            <input type="text"
              class="form-control"
              id="callLink"
              name="callLink"
              ngModel>
          </div>

          <div class="msg-container"
            id="callLinkErrorContainer">
            <p class="error-msg">{{ callLinkError }}</p>
          </div>

          <div class="msg-container"
            id="callLinkSuccessContainer">
            <p class="success-msg">Link successfully updated</p>
          </div>

          <div class="custom-modal-footer">
            <button type="submit"
              class="btn btn-secondary modal-btn">Submit</button>
    
            <button type="button"
              class="btn btn-secondary modal-btn"
              data-bs-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
