<app-nav></app-nav>

<div class="container dispatch-container nav-offset" id="dispatchScrollContent">
  <button type="button"
    class="btn btn-secondary dispatch-nav-btn"
    id="dispatch-btn-left"
    (click)="onScroll('left')"><i class="fas fa-chevron-circle-left"></i></button>

  <button type="button"
    class="btn btn-secondary dispatch-nav-btn"
    id="dispatch-btn-right"
    (click)="onScroll('right')"><i class="fas fa-chevron-circle-right"></i></button>

  <div class="row" id="dispatchRow">
    <div class="col dispatch-group">
      <div *ngFor="let user of userList">
        <div class="row user-card">
          <div class="col">
            <div class="row card-headers">
              <h4 class="user-title card-name">{{ user.name }}</h4>

              <h6 class="user-title">{{ user.accountType }}</h6>
            </div>
  
            <div class="row user-btn-container">
              <button type="button"
                class="btn btn-secondary card-btn"
                (click)="onStartChat(user)"><i class="far fa-comment-alt"></i>&nbsp;Chat</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col dispatch-group">
      <div *ngFor="let doctor of doctorList">
        <div class="row user-card">
          <div class="col">
            <div class="row card-headers">
              <h4 class="user-title card-name">{{ doctor.name }}</h4>
              
              <h6 *ngIf="doctor.status === 'available'; else unavailable" class="user-title available">{{ doctor.status }}</h6>

              <ng-template #unavailable>
                <h6 class="user-title busy">{{ doctor.status }}</h6>
              </ng-template>
            </div>

            <div class="row btn-input-group">
              <button *ngIf="doctor._id === userData._id; else copyButton"
                type="button"
                class="btn btn-secondary btn-input-btn"
                data-bs-toggle="modal"
                data-bs-target="#editCallLink"
                title="Edit Call Link"
                (click)="storeTarget(doctor)">
                <i class="far fa-edit control-icon"></i>
              </button>

              <ng-template #copyButton>
                <button type="button"
                  class="btn btn-secondary btn-input-btn"
                  title="Copy"
                  (click)="onCopyLink(doctor.videoCall)">
                  <i class="far fa-copy control-icon"></i>
                </button>
              </ng-template>

              <p class="call-link">{{ doctor.videoCall }}</p>
            </div>

            <div *ngIf="doctor._id === userData._id; else guestView" class="row btn-container">
              <button type="button"
                class="btn btn-secondary card-btn"
                (click)="onChangeStatus()">Change Status</button>
            </div>
              
            <ng-template #guestView>
              <div class="row btn-container">
                <button type="button"
                  class="btn btn-secondary card-btn"
                  data-bs-toggle="modal"
                  data-bs-target="#sendText"
                  (click)="onStoreVideoCall(doctor.videoCall)"><i class="fas fa-mobile-alt"></i>&nbsp;Text Patient</button>

                <button type="button"
                  class="btn btn-secondary card-btn"
                  (click)="onStartChat(doctor)"><i class="far fa-comment-alt"></i>&nbsp;Chat</button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade"
  id="editCallLink"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-card">
      <div class="modal-body">
        <div class="custom-modal-header">
          <h5 class="modal-title">Eidt Call Link</h5>
  
          <button type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>

        <app-video-call [target]="target"></app-video-call>
      </div>
    </div>
  </div>
</div>

<div class="modal fade"
  id="sendText"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-card">
      <div class="modal-body">
        <div class="custom-modal-header">
          <h5 class="modal-title">Send Contact Link</h5>

          <button type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Close">
          </button>
        </div>

        <app-send-text [currentLink]="currentLink"></app-send-text>
      </div>
    </div>
  </div>
</div>
