.user-card {
  background-color: var(--color-card-background);
  padding: 20px;
  border-radius: 5px;
  margin: 10px 0;
}

.user-title {
  color: var(--color-text-light);
  width: fit-content;
  text-transform: capitalize;
  display: flex;
  align-self: flex-end;
}

.available {
  color: var(--color-text-confirm);
}

.busy {
  color: var(--color-text-busy);
}

.link-container {
  margin-bottom: 8px;
  display: flex;
  align-items: stretch;
  box-shadow: var(--box-shadow);
}

.edit-btn {
  width: 10%;
  border-radius: 5px 0 0 5px;
}

.video-link {
  color: var(--color-text-light);
  width: 90%;
  padding: 10px 15px;
  margin: 0;
  background-color: var(--color-section-background);
  border-radius: 0 5px 5px 0;
}

.user-btn-container {
  display: flex;
  justify-content: flex-end;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.card-btn {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);
}

.msg-container {
  text-align: center;
}

.error-msg, .success-msg {
  margin-bottom: 10px;
}

.modal-btn {
  width: 30%;
  margin-left: 10px;
}

.modal-btn:nth-of-type(1) {
  margin-left: 0;
}
