/* ================================ */
/* || Dispatch Navigation Button || */
/* ================================ */

.nav-offset {
  padding-bottom: 0;
}

.dispatch-nav-btn {
  position: fixed;
  top: 50vh;
  height: 125px;
  width: 30px;
  padding: 0;
}

#dispatch-btn-left {
  left: 0;
  border-radius: 0 5px 5px 0;
}

#dispatch-btn-right {
  right: 0;
  border-radius: 5px 0 0 5px;
}

@media screen and (min-width: 768px) {
  .dispatch-nav-btn {
    display: none;
  }
}

/* ==================== */
/* || Dispatch Group || */
/* ==================== */

.dispatch-container {
  overflow: hidden;
  height: 100vh;
  max-width: 65rem;
}

#dispatchRow {
  width: 200vw;
  margin: auto;
}

#dispatchScrollContent {
  scroll-behavior: smooth;
}

.dispatch-group {
  width: 100vw;
  height: 80vh;
  padding: 0 5%;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  #dispatchRow {
    width: 100%;
  }

  .dispatch-group {
    width: 50%;
    padding: 0 2%;
  }
}


/* ========== */
/* || Card || */
/* ========== */

.user-card {
  padding: 20px;
  margin: 15px 0;
  background-color: var(--color-card-background);
  box-shadow: var(--box-shadow);
}

.user-card:first-of-type {
  margin-top: 0;
}

.card-headers {
  flex-direction: column;
  justify-content: space-evenly;
}

.user-title {
  width: 100%;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

@media screen and (min-width: 401px) {
  .card-headers {
    flex-direction: row;
  }

  .user-title {
    width: fit-content;
  }
}

.card-name {
  overflow: hidden;
  background: linear-gradient(to right,
    var(--color-text-light) 90%,
    var(--color-card-background) 100%
  );
  background-clip: text;
  color: transparent;
}

.available {
  color: var(--color-text-confirm);
}

.busy {
  color: var(--color-text-busy);
}

.btn-input-group {
  margin-bottom: 12px;
}

.btn-input-btn {
  width: 15%;
  padding: 0;
}

.call-link {
  color: var(--color-text-light);
  width: 85%;
  padding: 10px 15px;
  margin: 0;
  background-color: var(--color-section-background);
}

@media screen and (min-width: 501px) {
  .btn-input-btn {
    width: 10%;
  }

  .call-link {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .btn-input-btn {
    width: 15%;
  }

  .call-link {
    width: 85%;
  }
}

/* ================== */
/* || Card Control || */
/* ================== */

.btn-container {
  display: flex;
  justify-content: space-between;
}

.card-btn {
  width: 100%;
  margin: 0 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);
}

.card-btn:last-of-type {
  margin: 0;
}

@media screen and (min-width: 401px) {
  .card-btn {
    width: 48%;
    margin: 0;
  }
}
