/* ========== */
/* || Card || */
/* ========== */

.user-card {
  background-color: var(--color-card-background);
  padding: 20px;
  border-radius: 5px;
  margin: 10px 0;
}

.user-title {
  color: var(--color-text-light);
  width: fit-content;
  text-transform: capitalize;
  display: flex;
  align-self: flex-end;
}

.available {
  color: var(--color-text-confirm);
}

.busy {
  color: var(--color-text-busy);
}

.btn-input-group {
  box-shadow: var(--box-shadow);
  margin-bottom: 12px;
}

.btn-input-btn {
  width: 10%;
}

.btn-input-input {
  color: var(--color-text-light);
  width: 90%;
  padding: 10px 15px;
  margin: 0;
  background-color: var(--color-section-background);
}

/* ================== */
/* || Card Control || */
/* ================== */

.user-btn-container {
  display: flex;
  justify-content: flex-end;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.card-btn {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);
}

.guest-btn {
  margin: 0 10px;
}

.guest-btn:first-child {
  margin-left: 0;
}

.guest-btn:last-child {
  margin-right: 0;
}

/* =========== */
/* || Modal || */
/* =========== */

.msg-container {
  text-align: center;
}

.error-msg, .success-msg {
  margin-bottom: 10px;
}

.modal-btn {
  width: 30%;
  margin-left: 10px;
}

.modal-btn:nth-of-type(1) {
  margin-left: 0;
}
