<!-- <div class="container">
  <form #loginForm="ngForm"
    class="login-form form-container"
    (ngSubmit)="onLoginSubmit(loginForm)">
    <h4>Login</h4>

    <div class="form-group text-field">
      <label for="loginUsername">Username:</label>

      <input type="text"
        class="form-control"
        id="loginUsername"
        name="username"
        ngModel>
    </div>

    <div class="form-group text-field">
      <label for="loginPassword">Password:</label>

      <input type="password"
        class="form-control"
        id="loginPassword"
        name="password"
        ngModel>
    </div>

    <div class="msg-container"
      id="loginErrorMsgContainer">
      <p class="error-msg">{{ loginErrorMsg }}</p>
    </div>

    <div class="btn-container">
      <button type="submit"
        class="btn btn-secondary login-btn">Sign In</button>
    </div>
  </form>
</div> -->

<div class="main-grid">
  <div class="title-container">
    <h1 class="catch-line">Organize</h1>
    <h1 class="catch-line">Connect</h1>
    <h1 class="catch-line">Communicate</h1>
  </div>

  <div class="image-container">
    <img class="splash-image"
      src="assets/images/national-cancer-institute-NFvdKIhxYlU-unsplash.jpg"
      alt="Consulting Splash Image">
  </div>

  <div class="login-container">
    <form #loginForm="ngForm"
      class="login-form form-container"
      (ngSubmit)="onLoginSubmit(loginForm)">
      <h4>Login</h4>
  
      <div class="form-group text-field">
        <label for="loginUsername">Username:</label>
  
        <input type="text"
          class="form-control"
          id="loginUsername"
          name="username"
          ngModel>
      </div>
  
      <div class="form-group text-field">
        <label for="loginPassword">Password:</label>
  
        <input type="password"
          class="form-control"
          id="loginPassword"
          name="password"
          ngModel>
      </div>
  
      <div class="msg-container"
        id="loginErrorMsgContainer">
        <p class="error-msg">{{ loginErrorMsg }}</p>
      </div>
  
      <div class="btn-container">
        <button type="submit"
          class="btn btn-secondary login-btn">Sign In</button>
      </div>
    </form>
  </div>
</div>
