<form #sendTextMessage="ngForm"
  class="create-form modal-form"
  (ngSubmit)="onSendTextMessage(sendTextMessage)">
  <div class="form-group text-field">
    <label for="patientPhoneNumber">Patient's Phone Number:</label>

    <input type="text"
      class="form-control"
      id="patientPhoneNumber"
      name="phoneNumber"
      maxlength="10"
      ngModel>
  </div>

  <div class="msg-container"
    id="textResponseContainer">
    <p class="error-msg" id="textResponse">{{ textResponse.msg }}</p>
  </div>

  <div class="custom-modal-footer">
    <button type="submit"
      class="btn btn-secondary modal-btn">Submit</button>

    <button type="button"
      class="btn btn-secondary modal-btn"
      data-bs-dismiss="modal">Cancel</button>
  </div>
</form>
