<app-nav></app-nav>

<div class="container nav-offset">
  <div class="back-btn-container">
    <button type="button"
      class="btn back-btn"
      (click)="onCancel()">
      <i class="fas fa-arrow-left"></i>

      <span>&nbsp;Back</span>
    </button>
  </div>

  <div class="table-container-container">
    <div class="table-container">
      <table>
        <tr>
          <th class="btn-header">Edit</th>
  
          <th class="btn-header">Delete</th>
  
          <th (click)="onSortBy('name')">
            <div class="table-header-group">
              <span class="table-header-title">Name</span>
    
              <div class="sort-group">
                <i class="fas fa-angle-up sort-icon active-sort"
                  id="nameNormal"></i>
    
                <i class="fas fa-angle-down sort-icon"
                  id="nameReverse"></i>
              </div>
            </div>
          </th>
    
          <th (click)="onSortBy('username')">
            <div class="table-header-group">
              <span class="table-header-title">Username</span>
    
              <div class="sort-group">
                <i class="fas fa-angle-up sort-icon"
                  id="usernameNormal"></i>
    
                <i class="fas fa-angle-down sort-icon"
                  id="usernameReverse"></i>
              </div>
            </div>
          </th>
    
          <th (click)="onSortBy('accountType')">
            <div class="table-header-group">
              <span class="table-header-title">Account Type</span>
    
              <div class="sort-group">
                <i class="fas fa-angle-up sort-icon"
                  id="accountTypeNormal"></i>
    
                <i class="fas fa-angle-down sort-icon"
                  id="accountTypeReverse"></i>
              </div>
            </div>
          </th>
    
          <th class="video-call-header"
            (click)="onSortBy('videoCall')">
            <div class="table-header-group">
              <span class="table-header-title">Video Call</span>
    
              <div class="sort-group">
                <i class="fas fa-angle-up sort-icon"
                  id="videoCallNormal"></i>
    
                <i class="fas fa-angle-down sort-icon"
                  id="videoCallReverse"></i>
              </div>
            </div>
          </th>
        </tr>
    
        <tr *ngFor="let user of accountList">
          <td class="btn-data">
            <button type="button"
              class="btn table-btn-ctrl"
              (click)="onEditUser(user)"><i class="far fa-edit"></i></button>
          </td>
  
          <td class="btn-data">
            <button type="button"
              class="btn table-btn-ctrl"
              data-bs-toggle="modal"
              data-bs-target="#confirmDeletion"
              (click)="onMarkedForDeletion(user)"><i class="far fa-trash-alt"></i></button>
          </td>
  
          <td class="proper-name">{{ user.name }}</td>

          <td>{{ user.username }}</td>
          
          <td class="proper-name">{{ user.accountType }}</td>
          
          <td class="video-call-data">{{ user.videoCall }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="modal fade"
  id="confirmDeletion"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-card">
      <div class="modal-body">
        <div class="custom-modal-header">
          <h5 class="modal-title">Delete User</h5>

          <button type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>

        <form #confirmDeletion="ngForm"
          class="create-form modal-form"
          (ngSubmit)="onDeleteAccount(confirmDeletion)">
          <div class="form-group text-field">
            <label for="username">Admin Username:</label>

            <input type="text"
              class="form-control"
              id="username"
              name="username"
              ngModel>
          </div>

          <div class="form-group text-field">
            <label for="password">Admin Password:</label>

            <input type="password"
              class="form-control"
              id="password"
              name="password"
              ngModel>
          </div>

          <div class="msg-container"
            id="deleteError">
            <p class="error-msg">{{ errorMessage }}</p>
          </div>

          <div class="msg-container"
            id="deleteSuccess">
            <p class="success-msg">{{ successMessage }}</p>
          </div>

          <div class="custom-modal-footer">
            <button type="submit"
              class="btn btn-secondary modal-btn">Submit</button>

            <button type="button"
              class="btn btn-secondary modal-btn"
              data-bs-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
