.user-management-container {
  padding: 40px 15px;
  background-color: var(--color-card-background);
  box-shadow: var(--box-shadow);
}

@media screen and (min-width: 769px) {
  .user-management-container {
    padding: 40px 35px;
  }
}

.page-title {
  margin-bottom: 20px;
}

/* =========== */
/* || Table || */
/* =========== */

.table-container {
  overflow: auto;
  max-height: 65vh;
}

th, td {
  min-width: 180px;
  overflow: hidden;
}

.btn-header, .btn-data {
  min-width: 50px;
}

.video-call-header, .video-call-data {
  min-width: 360px;
}

/* =================== */
/* || Table Headers || */
/* =================== */

.table-header-group {
  display: flex;
  align-items: center;
}

.table-header-title {
  margin-right: 10px;
}

.sort-group {
  display: flex;
  flex-direction: column;
}

.sort-icon {
  opacity: 40%;
}

.active-sort {
  opacity: 100%;
}

/* ================ */
/* || Table Data || */
/* ================ */

.table-btn-ctrl {
  color: var(--color-text-light);
}

.table-btn-ctrl {
  display: flex;
  margin: auto;
}
