<div class="test">
  <button type="button"
    class="btn menu-btn"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasNav"
    aria-controls="offcanvasNav"><i class="fas fa-bars control-icon"></i></button>
</div>

<div class="offcanvas offcanvas-start"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasNav"
  aria-labelledby="offcanvasNavLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasNavLabel">Menu</h5>

    <button type="button"
      class="btn close-btn"
      data-bs-dismiss="offcanvas"><i class="fas fa-times"></i></button>
  </div>

  <div class="offcanvas-body">
    <button type="button" class="btn nav-btn"
      (click)="onRedirect('dispatch')">
      <div class="nav-btn-icon">
        <i class="fas fa-clipboard-list larger-icon"></i>
      </div>
      
      <h4 class="nav-btn-title">Dispatch</h4>
    </button>

    <button type="button" class="btn nav-btn"
      (click)="onRedirect('edit-account')">
      <div class="nav-btn-icon">
        <i class="far fa-edit"></i>
      </div>
      
      <h4 class="nav-btn-title">Edit Account</h4>
    </button>

    <div *ngIf="currentUser.accountType === 'admin'">
      <button type="button" class="btn nav-btn"
        (click)="onRedirect('create-account')">
        <div class="nav-btn-icon">
          <i class="far fa-address-book larger-icon"></i>
        </div>
  
        <h4 class="nav-btn-title">Create Account</h4>
      </button>

      <button type="button" class="btn nav-btn"
        (click)="onRedirect('user-management')">
        <div class="nav-btn-icon">
          <i class="fas fa-th-list"></i>
        </div>
  
        <h4 class="nav-btn-title">User Management</h4>
      </button>
    </div>

    <button type="button" class="btn nav-btn"
      (click)="onLogout()">
      <div class="nav-btn-icon">
        <i class="fas fa-door-open"></i>
      </div>

      <h4 class="nav-btn-title">Logout</h4>
    </button>
  </div>
</div>
