<nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top">
  <div class="container-fluid">
    <h4 class="navbar-brand nav-title">Dispatch App</h4>

    <button type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse"
      id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-btn-container">
        <button type="button"
          class="btn nav-btn"
          (click)="onLogout()">Logout</button>

        <button *ngIf="currentUser.accountType === 'admin'"
          type="button"
          class="btn nav-btn"
          (click)="onRedirect('create-account')">Create Account</button>

        <button type="button"
          class="btn nav-btn"
          (click)="onRedirect('edit-account')">Edit Account</button>

        <button type="button"
          class="btn nav-btn"
          (click)="onRedirect('dispatch')">Dispatch</button>
      </div>
    </div>
  </div>
</nav>
