.menu-btn {
  color: var(--color-text-light);
  border: 2px solid var(--color-text-light);
  border-radius: 50vw;
  position: fixed;
  top: 20px;
  left: 20px;
}

/* =============== */
/* || Side Mneu || */
/* =============== */

#offcanvasNav {
  background: rgba(0, 0, 0, .25);
}

.close-btn {
  color: var(--color-text-light);
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
}

/* ================ */
/* || Nav Button || */
/* ================ */

.nav-btn {
  color: var(--color-text-light);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.nav-btn-icon {
  padding: 5px;
  min-height: 38px;
  min-width: 38px;
  border: 2px solid;
  border-radius: 50vw;
}

.larger-icon {
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

.nav-btn-title {
  margin: 0 0 0 10px;
  text-align: left;
}
