.nav-title {
  text-decoration: none;
  margin: 0;
}

.nav-title:hover {
  color: var(--color-text-light);
}

.navbar-btn-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: -webkit-fill-available;
}

.nav-btn {
  color: var(--color-text-light);
  width: fit-content;
}
