/* ======================== */
/* || Button Input Group || */
/* ======================== */

.label-err-container {
  display: flex;
}

.btn-input-group {
  display: flex;
  align-items: center;
}

#editNameGroup {
  box-shadow: unset;
}

#nameLabel {
  margin: 0;
}

#nameBtn {
  height: 36px;
  width: 42px;
  border: 0;
  box-shadow: var(--box-shadow);
}

#nameName {
  margin-left: 10px;
  margin-bottom: 0;
  text-transform: capitalize;
  word-break: break-word;
}

/* ================== */
/* || Form Buttons || */
/* ================== */

#errorMsgContainer, #successMsgContainer {
  text-align: center;
}

#submitMsg {
  margin: 0;
  margin-top: 24px;
}
