/* ================= */
/* || Modal Group || */
/* ================= */

.edit-group {
  margin-bottom: 15px;
}

/* ================ */
/* || Edit Group || */
/* ================ */

.edit-content-group {
  margin-bottom: 10px;
}

.edit-content-group:last-of-type {
  margin: 0;
}

.edit-label {
  margin: 0;
}

.edit-row {
  display: flex;
  align-items: center;
}

.edit-btn {
  color: var(--color-text-light);
}

.edit-title {
  margin: 0;
  word-break: break-word;
}
