<form #editUser="ngForm"
  class="creat-form modal-form"
  (ngSubmit)="onSubmitChange(editUser)">
  <div *ngIf="targetEdit"
    class="container edit-group">

    <div class="edit-content-group">
      <h6 class="edit-label">Name:</h6>
  
      <div class="edit-row">
        <button type="button"
          class="btn edit-btn"
          (click)="makeVisible('name')"><i class="far fa-edit"></i></button>
          <h4 class="proper-name edit-title">{{ targetEdit.name }}</h4>
      </div>

      <input type="text"
        class="form-control edit-input hide-content"
        id="name"
        name="name"
        placeholder="Name"
        ngModel>
    </div>

    <div class="edit-content-group">
      <h6 class="edit-label">Username:</h6>
  
      <div class="edit-row">
        <button type="button"
          class="btn edit-btn"
          (click)="makeVisible('userName')"><i class="far fa-edit"></i></button>
          <h4 class="proper-name edit-title">{{ targetEdit.username }}</h4>
      </div>

      <input type="text"
        class="form-control edit-input hide-content"
        id="userName"
        name="userName"
        placeholder="Username"
        ngModel>
    </div>

    <div *ngIf="targetEdit.accountType === 'doctor'" class="edit-content-group">
      <h6 class="edit-label">Video Call:</h6>
      
      <div class="edit-row">
        <button type="button"
          class="btn edit-btn"
          (click)="makeVisible('videoCall')"><i class="far fa-edit"></i></button>
          <h4 class="edit-title">{{ targetEdit.videoCall }}</h4>
      </div>

      <input type="text"
        class="form-control edit-input hide-content"
        id="videoCall"
        name="videoCall"
        placeholder="Video Call"
        ngModel>
    </div>

    <div class="edit-content-group">
      <h6 class="edit-label">Account Type:</h6>
      
      <div class="edit-row">
        <button type="button"
          class="btn edit-btn"
          (click)="makeVisible('accountType')"><i class="far fa-edit"></i></button>
          <h4 class="proper-name edit-title">{{ targetEdit.accountType }}</h4>
      </div>

      <div class="radio-control-container edit-input hide-content"
        id="accountType">
        <div class="radio-group">
          <input type="radio"
            id="dispatch"
            name="accountType"
            value="dispatch"
            ngModel>

          <label class="radio-label" for="dispatch">Dispatch</label>
        </div>

        <div class="radio-group">
          <input type="radio"
            id="doctor"
            name="accountType"
            value="doctor"
            ngModel>

          <label class="radio-label" for="doctor">Doctor</label>
        </div>

        <div class="radio-group">
          <input type="radio"
            id="admin"
            name="accountType"
            value="admin"
            ngModel>

          <label class="radio-label" for="admin">Admin</label>
        </div>
      </div>
    </div>
  </div>

  <div class="container edit-group">
    <h4>Admin Verification</h4>

    <div class="form-group text-field">
      <label for="editAdminUsername">Username:</label>

      <input type="text"
        class="form-control"
        id="editAdminUsername"
        name="editAdminUsername"
        placeholder="Admin Username"
        ngModel>
    </div>

    <div class="form-group text-field">
      <label for="editAdminPassword">Password:</label>

      <input type="password"
        class="form-control"
        id="editAdminPassword"
        name="editAdminPassword"
        placeholder="Admin Password"
        ngModel>
    </div>
  </div>

  <div class="msg-container"
    id="editError">
    <p class="error-msg">{{ editErrorMessage }}</p>
  </div>

  <div class="msg-container"
    id="editSuccess">
    <p class="success-msg">{{ editSuccessMessage }}</p>
  </div>

  <div class="custom-modal-footer">
    <button type="submit"
      class="btn btn-secondary modal-btn">Submit</button>
    
    <button type="button"
      class="btn btn-secondary modal-btn"
      data-bs-dismiss="modal"
      (click)="clearForm(editUser)">Cancel</button>
  </div>
</form>
