:root {
  --primary-color: 218;
  --card-primary-color: 220;
  --window-control-color: 200;
  --color-body-background: hsl(var(--primary-color), 15%, 17%);
  --color-card-background: hsl(var(--card-primary-color), 10%, 29%);
  --color-window-control: hsl(var(--window-control-color), 10%, 20%);
  --color-section-background: hsl(var(--card-primary-color), 0%, 14%);

  /* =========== */
  /* || Table || */
  /* =========== */

  --color-table-background: hsl(var(--primary-color), 0%, 7%);

  /* ========== */
  /* || Chat || */
  /* ========== */

  --color-chat-background: hsl(208, 100%, 97%);
  --color-chat-primary: hsl(196, 12%, 37%);
  --color-chat-secondary: hsl(227, 12%, 37%);

  /* ========== */
  /* || text || */
  /* ========== */

  --color-text-dark: hsl(0, 0%, 0%);
  --color-text-light: hsl(0, 0%, 100%);
  --color-text-confirm: hsl(100, 43%, 51%);
  --color-text-busy: hsl(55, 53%, 51%);
  --color-text-warning: hsl(0, 100%, 45%);

  /* ================ */
  /* || Box Shadow || */
  /* ================ */

  --box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

/* ============= */
/* || Message || */
/* ============= */

.error-msg {
  color: var(--color-text-warning);
}

.success-msg {
  color: var(--color-text-confirm);
}

/* =========== */
/* || Fonts || */
/* =========== */

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text-light);
}

p, button, a, label, span {
  color: var(--color-text-light);
  word-wrap: break-word;
}

.proper-name {
  text-transform: capitalize;
}

/* ================= */
/* || Back Button || */
/* ================= */

.back-btn-container {
  padding: 0 15%;
}

.back-btn {
  display: flex;
  align-items: center;
  color: var(--color-text-light);
}

.back-btn:hover {
  color: var(--color-text-light);
}

@media screen and (max-width: 767px) {
  .back-btn-container {
    padding: 0;
  }
}

/* =========== */
/* || Forms || */
/* =========== */

.form-container {
  padding: 0 20%;
  margin: 20px 0;
}

.btn-input-group {
  display: flex;
  align-items: stretch;
  border-radius: 5px;
}

.btn-input-btn {
  border: 0;
  border-radius: 5px 0 0 5px;
}

.btn-input-input {
  border: 0;
  border-radius: 0 5px 5px 0;
}

.text-field {
  margin-bottom: 10px;
}

.form-btn-container {
  display:flex;
  justify-content: space-around;
}

.form-btn {
  width: 45%;
}

.radio-control-container {
  display: flex;
  justify-content: space-evenly;
  margin: 22px 0;
}

.radio-group {
  display: flex;
  align-items: center;
}

input[type=radio] {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.radio-label {
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .form-container {
    padding: 0 10%;
  }
}

@media screen and (max-width: 400px) {
  .form-container {
    padding: 0 5%;
  }

  .form-btn-container {
    flex-direction: column;
  }

  .form-btn {
    width: 100%;
  }

  .form-btn:first-of-type {
    margin-bottom: 15px;
  }
}

/* ============ */
/* || Tables || */
/* ============ */

table {
  width: 100%;
  color: var(--color-text-light);
  position: relative;
  border-collapse: separate;
  border-spacing: 0;
}

th {
  top: 0;
  position: sticky;
  background-color: var(--color-body-background);
}

td, th {
  border: 1px solid var(--color-text-light);
  padding: .5rem;
}

th:hover {
  cursor: pointer;
}

tr:nth-of-type(even) {
  background-color: var(--color-chat-primary);
}

/* ============ */
/* || Modals || */
/* ============ */

.msg-container {
  display: none;
  text-align: center;
}

.modal-card {
  background-color: var(--color-card-background);
}

.modal-form {
  margin: 15px 15px 10px;
}

.custom-modal-header {
  display: flex;
  justify-content: space-between;
}

.custom-modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-btn {
  width: 30%;
  margin-left: 10px;
}

.modal-btn:nth-of-type(1) {
  margin-left: 0;
}

/* ================ */
/* || Scroll Bar || */
/* ================ */

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background: hsl(218, 30%, 20%);
  border-radius: 100vw;
  margin: 5px;
}

::-webkit-scrollbar-thumb {
  background: hsl(218, 50%, 40%);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: hsl(218, 40%, 30%);
}

::-webkit-scrollbar-corner {
  opacity: 0%;
}

/* ============ */
/* || Global || */
/* ============ */

.control-icon {
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

.hide-content {
  display: none;
}

.nav-offset {
  padding-top: 80px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-body-background);
}
