:root {
  --primary-color: 218;
  --card-primary-color: 220;
  --color-body-background: hsl(var(--primary-color), 15%, 17%);
  --color-card-background: hsl(var(--card-primary-color), 10%, 29%);
  --color-section-background: hsl(var(--card-primary-color), 0%, 14%);
  --color-text-light: hsl(0, 0%, 100%);
  --color-text-confirm: hsl(100, 43%, 51%);
  --color-text-busy: hsl(55, 53%, 51%);
  --color-text-warning: hsl(0, 100%, 45%);
  --box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

/* ============= */
/* || Message || */
/* ============= */

.msg-container {
  display: none;
}

.error-msg {
  color: var(--color-text-warning);
}

.success-msg {
  color: var(--color-text-confirm);
}

/* =========== */
/* || Fonts || */
/* =========== */

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text-light);
}

p, button, a, label, span {
  color: var(--color-text-light);
  word-wrap: break-word;
}

/* =========== */
/* || Forms || */
/* =========== */

.text-field {
  margin-bottom: 10px;
}

/* ============ */
/* || Modals || */
/* ============ */

.modal-card {
  background-color: var(--color-card-background);
}

.modal-form {
  margin: 15px 15px 10px;
}

.custom-modal-header {
  display: flex;
  justify-content: space-between;
}

.custom-modal-footer {
  display: flex;
  justify-content: flex-end;
}

/* ============ */
/* || Global || */
/* ============ */

.nav-offset {
  margin-top: 60px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-body-background);
}
